language: java
jdk:
- oraclejdk8
dist: trusty
after_success:
- bash <(curl -s https://codecov.io/bash)
before_deploy:
- "mvn -DskipTests package"
- export FILE_TO_UPLOAD=$(ls target/grpc-apm-spring-boot-starter-*.jar)
- "echo $FILE_TO_UPLOAD"
deploy:
  provider: releases
  api_key:
    secure: a3JGKTHoS4Da81nCMlHHlYB1gQtrE3ZzMT2px9Zs2IaKp9pi5eyDkQxd/6wlF6a7hF1KZhp/KbQWJBts0WybU/tdDqOLbskcdaxozX3LsoXQKBCURaLc0e5rxcVqFld0W0us24ax2R6MwR+25wtpiyghSPJ+RzOQB/EsZIav/b0y3BvnKTIp6pZ7+ppBPRyUo4x2F1KJcDUgzUFky3QRghhsKpXtUPB5L6qQM2WUt357ZH6Lb1jeKlEAtCySLoq1EJ1kCbs5D6XT3qOfUMW2ADUcVpPPzVlAphhuazaCePFN73sS4PofihO+yzgHqqahRZxhTG/T7xmsBYdXDNZOW2ffdYYvVwTHGyENWtu4ehYF747J9oEQJ2/AxsMhUET/F3QZmZgu4HQ7ed46tvPeqK+c0NAZtS9YC3De/Ocdr53eDDVuf9VZhMXoieagwmq+9iOtTGvqHo5i+nO6kbJteAf5IXVYHqcpwH5veZ0TFnufWPYlNlKvrh/e8xuBQ8lBcEvnJOR/RbdjqVtDAOwO4bWNlZ3NM7KVUl9CjeMF48+X6S+KxFF740lEwkFQoKSmtMO6OQZM4ZJRBXEpTz5ZxLNSZhonZhvM+xdB8YHRj09CV3J4rMm5sg/T12ib8Mic43nIAuJHj2KYaak5MARfkbqwVN69X7cMIS3ttcdx280=
  file:
  - "${FILE_TO_UPLOAD}"
  skip_cleanup: true
  overwrite: true
  on:
    repo: majusko/grpc-apm-spring-boot-starter
    tags: true
    branch: master
